{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Login</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'signup' %}" class="text-decoration-none">Need an account? Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}